{% extends 'base.html' %}
{% block title %} Products {% endblock %}
{% block content %}
<div>


  <p>This is the products page</p>

  <div>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Product ID</th>
          <th scope="col">Product Name</th>
          <th scope="col">Buying Price</th>
          <th scope="col">Selling price</th>
        </tr>
      </thead>
      <tbody>
         {% for product in products %}
            <tr>
              <td>{{ product[0] }}</td>
              <td>{{ product[1] }}</td>
              <td>{{ product[2] }}</td>
              <td>{{ product[3] }}</td>
            </tr>
       {% endfor %}
      </tbody>
    </table>
  </div>



</div>
{% endblock %}